* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right, #279EFF, #6F61C0)
}

#adminlogin {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 20%;
    height: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    top: 20%;
}

h1 {
    margin: 2rem 0;
}

input {
    border-bottom: 1px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 1rem;
    width: 70%;
    padding-left: 0.5rem;
}

input:focus {
    border-bottom: 1px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

#sign-in {
    width: 70%;
    margin: 2rem;
    padding: .5rem 0;
    background: linear-gradient(to right, #279EFF, #6F61C0)
}