* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right, #279EFF, #6F61C0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#adminlogin {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 25%;
    height: 70%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

h1 {
    margin: 2rem 0;
}

input {
    border-bottom: 1px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 1rem;
    width: 70%;
    padding-left: 0.5rem;
}

input:focus {
    border-bottom: 1px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

#sign-in {
    width: 70%;
    margin: 2rem;
    padding: .5rem 0;
    background: linear-gradient(to right, #279EFF, skyblue, #6F61C0)
}

#error_container {
    margin-top: 1rem;
    background-color: rgb(253, 225, 230);
    width: auto;
    padding: 0.5rem;
    border: 1px solid rgb(254, 125, 146);
}

#error_msg {
    color: red;
    font-size: 0.8rem;
}