* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    padding: 1rem;
    background-color: #050C9C;
}

#nav-bar>span {
    margin: 0 2rem;
}

#company-name {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

#logout {
    color: white;
}

#logout:hover {
    cursor: pointer;
    color: rgb(242, 240, 240);
}

#admin-email {
    display: none;
}

h1 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

h2 {
    margin-left: 10%;
}

main {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

.svg-img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    fill: white;
    border-radius: 50%;
    padding: .3rem;
}

#data-container>div {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 1px solid black;
    padding: 1rem 2rem;
    margin: 1.5rem 1rem 3rem 0;
    border-radius: 10px;
}

#data-container>div:nth-child(1) {
    background-color: #FF7F3E;
    color: white
}

#first-svg {
    background-color: #FFF6E9;
}

#data-container>div:nth-child(2) {
    background-color: #3FA2F6;
    color: white;
}

#second-svg {
    background-color: #96C9F4;
}

#data-container>div:nth-child(3) {
    background-color: #FF9EAA;
    color: white;
}

#third-svg {
    background-color: #FFD0D0;
}

#sub-data {
    font-size: 2rem;
}

canvas {
    width: 80%;
    margin: auto;
    max-height: 88%;
}