@charset "UTF-8";

:root {
  --size: max(5px, 1.3vmin);
  --height: 80em;
  --pad: 1.15em;
  --border-radius: 6.666em;
  --gutter: calc(var(--pad) * 2);
  --button-width: 0.333em;
  --notch-height: 3.33em;
  --notch-width: 33.3%;
  --notch-radius: calc(var(--border-radius) - calc(var(--pad) * 3));
  --notch-duration: 0.5s;
  --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --ease-spring: cubic-bezier(0.666, 0, 0.4, 1.2);
  --ease-out: cubic-bezier(0.3, 0.3, 0.5, 1);
  --border-width: 0.4em;
}
* {
  user-select: none !important;
}

input, textarea {
  user-select: text !important;
}

@-webkit-keyframes appear {
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes appear {
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

#dashboard {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Limit maximum width to the viewport width */
  max-height: 100vh; /* Limit maximum height to the viewport height */
  overflow: auto; /* Add scrollbars if content overflows */
}

#grid-container {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* background-color: #5a6268; */
  background-image: url('../images/urban.jpg');
  background-size: cover;
}

#grid-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none; /* Allow interactions with elements behind the overlay */
}

body {
  background: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Albert Sans";
  font-size: var(--size);
}

.notch-container {
  position: absolute;
  z-index: 3;
  top: var(--pad);
  right: var(--pad);
  left: var(--pad);
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: calc(var(--notch-radius) * 2);
  pointer-events: none;
  outline: none;
  transition: var(--notch-duration) var(--ease);
  transition: max-height var(--notch-duration) var(--ease),
    transform var(--notch-duration) var(--ease);
  transition-property: max-height, max-width, filter, transform;
  will-change: max-width, max-height, filter;
}

.notch-container:hover,
.notch-container:focus-within,
.tooltip:hover {
  --shadow-opacity: 0.2s;
  transition-timing-function: var(--ease-spring);
}

.notch-container:hover .content .text,
.notch-container:focus-within .content .text {
  opacity: 1;
}

.notch-container:hover .notch,
.notch-container:focus-within .notch {
  max-width: 50%;
  max-height: 80%;
  pointer-events: all;
  transform: scale3d(0.7, 0.7, 1);
  transition: max-height var(--notch-duration) var(--ease),
    transform var(--notch-duration) var(--ease);
}

.notch-container:hover,
.tooltip:hover {
  max-height: calc(var(--notch-radius) * 3);
  --bar-height: 1em;
  --bar-opacity: 1;
  transition: max-height 0.8s ease-in-out;
}

.content:hover {
  margin-bottom: 20px;
  transition: transform var(--notch-duration) var(--ease);
}

.notch-container:focus-within .left {
  max-height: calc(100% - var(--bar-height, 0%) - var(--content-gap));
}


.widget-w-spotify {
  max-height: 250px;
}

.widget-w-timer {
  max-height: 17.5rem;
  min-width: 23rem;
  max-width: 32rem;
}

.widget-w-tasks {
  max-height: 80rem;
  min-width: 10rem;
  /* height: 40rem !important; */
  max-width: 32rem;
  /* min-height: 30rem; */
}

.widget-w-weather {
  max-height: 17rem;
  max-width: 50rem;
}

.widget-w-youtube {
  height: fit-content;
}

.notch {
  position: relative;
  background: black;
  border-radius: var(--notch-radius);
  pointer-events: all;
  overflow: hidden;
  color: white;
  display: flex;
  cursor: pointer;
  width: 60%;
  transition: inherit;
  transition-property: inherit;
  will-change: inherit;
  filter: drop-shadow(0 1em 2em hsla(0 0% 0% / var(--shadow-opacity, 0)));
  transform: scale3d(0.3, 0.3, 1);
  transform-origin: top;
  box-shadow: 0 0 20px 10px rgb(255, 255, 255, 0.2),
    /* inner */ 0 0 80px 10px rgb(255, 0, 255, 0.2),
    /* middle */ 0 0 100px 20px rgb(0, 255, 255, 0.5); /* outer */
}

.content {
  --content-padding: 1.75em;
  --duration-height: 0.5em;
  --content-gap: 1em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  padding: var(--content-padding);
  gap: var(--content-gap);
  font-size: 125%;
  transition-property: padding;
  will-change: padding;
  /* margin: auto; */
}

.logo-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--notch-duration) var(--ease);
}

.notch-container:hover .logo-center img {
  visibility: hidden;
  transition: transform var(--notch-duration) var(--ease);
}

.left img {
  visibility: hidden;
}

#task-frame {
  display: block;
  position: absolute; /* Ensure position is set */
  display: none; /* Initially hidden */
  z-index: 9999;
  height: 150px;
  border: none;
}

#timer-controls-container {
  position: fixed;
  left: 20px;
  bottom: 160px;
}

.sidebar-menu {
  position: inherit; /* Ensure position is set */
  display: none; /* Initially hidden */
  z-index: 9999;
  box-shadow: rgb(95, 240, 208, 15%)  0px 0px 50px;
}

.notch-container:hover .left img {
  visibility: visible;
}

.content .left {
  height: 100%;
  max-height: calc(100% - var(--bar-height, 0%));
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 7%;
}

.content,
.content .left,
.content .text {
  transition: var(--notch-duration) --ease-out;
}

.content .left {
  transition-property: max-height, opacity;
  will-change: max-height;
}

.content .left {
  flex-grow: 2;
}

.content .text {
  display: flex;
  flex-direction: column;
  gap: 0.333em;
  transition-property: opacity;
  opacity: var(--bar-opacity, 0);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.content .text:before {
  font-size: 0.9rem;
  content: "";
  order: 1;
}

.content .text::after {
  order: 2;
  font-size: 0.7rem;
  content: "";
  opacity: 0.5;
}

.content .title {
  background-image: radial-gradient(#6667ac, transparent 30%);
  position: relative;
}

.content .title::before {
  content: "";
  position: absolute;
  inset: 0;
}

/* Tooltip container */
.tooltip {
  width: 30px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-right: 20px;
}

.tooltip img {
  width: 150%;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.tooltip:hover img {
  background-color: rgb(55, 55, 55);
  border-radius: 5px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.tooltip .tooltiptext {
  visibility: hidden;
  overflow: unset;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 5px 0px 0px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 80%;
  transform: translateX(-50%);
  font-size: 0.8rem;
}

.notch-container:focus-within,
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.hidden {
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.7s ease-in-out;
}
.control-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  z-index: 999; /* Ensure appears below hidden */
}

.control-panel:hover + .hidden {
  opacity: 1;
}

.hidden:hover {
  opacity: 1;
}

.save {
  display: inline-block;
}

/* Tooltip container for Widget 8 and Widget 9 */
.widget-tooltip {
  width: 30px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-right: 20px;
}

.widget-tooltip img {
  width: 150%;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.widget-tooltip:hover img {
  background-color: rgb(55, 55, 55);
  border-radius: 5px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.widget-tooltip .tooltiptext {
  visibility: hidden;
  overflow: unset;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 5px 0px 0px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 80%;
  transform: translateX(-50%);
  font-size: 0.8rem;
}

.nav-button:hover #headerSide {
  color: #8392a5;
  cursor: not-allowed;
  font-size: 0.95rem;
}

:root {
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-dark-primary: #000000;
  --navbar-dark-secondary: #2c3e50;
  --navbar-light-primary: #f5f6fa;
  --navbar-light-secondary: #8392a5;
}

html,
body {
  margin: 0;
  background: var(--background);
}

#nav-toggle:checked ~ #nav-header {
  width: calc(var(--navbar-width-min) - 16px);
}
#nav-toggle:checked ~ #nav-content,
#nav-toggle:checked ~ #nav-footer {
  width: var(--navbar-width-min);
}
#nav-toggle:checked ~ #nav-header #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
  /* left: calc(50% - 8px); */
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
  background: var(--navbar-light-primary);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger:before,
#nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
  width: 16px;
  background: var(--navbar-light-secondary);
  transform: translate(0, 0) rotate(0deg);
}
#nav-toggle:checked ~ #nav-content .nav-button span {
  opacity: 0;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox,
#nav-toggle:checked ~ #nav-footer label[for="nav-footer-toggle"] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#nav-bar {
  position: absolute;
  left: 1vw;
  top: 1vw;
  height: calc(100% - 2vw);
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow: hidden; */
  user-select: none;
}


#nav-bar hr,
#nav-header hr {
  margin: auto;
  position: relative;
  /* left: 5px; */
  /* width: calc(100% - 32px); */
  border: none;
  border-top: solid 1px var(--navbar-dark-secondary);
}
#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}
#nav-bar input[type="checkbox"] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--navbar-dark-primary);
  border-radius: 99px;
  transition: background 0.2s;
}
#nav-toggle-burger:before,
#nav-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--navbar-light-primary);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}
#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0 0 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--navbar-dark-primary);
/*   box-shadow: 0 0 0 16px var(--navbar-dark-primary); */
  direction: rtl;
  /* verflow-x: hidden; */
  transition: width 0.2s;
  border-radius: 0 20px 20px 20px;
}
#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #d62929;
}
#nav-content::-webkit-scrollbar-button {
  height: 16px;
}

#nav-content-highlight {
  position: absolute;
  left: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top 0.2s;
}
#nav-content-highlight:before,
#nav-content-highlight:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 16px 16px var(--background);
}
#nav-content-highlight:after {
  top: 100%;
  box-shadow: 16px -16px var(--background);
}

#nav-dev-picks{/* 🚧NEW CSS */
  box-shadow: 16px 16px var(--background);
  width: var(--navbar-width);
  background-color: black;
  transition: top 0.2s;
  position: absolute;
  right: calc(-1*var(--navbar-width));
  top: calc(var(--navbar-width)/0.85);
}


#current-theme{/* 🚧NEW CSS */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:0;
}

.display-toggle{/* 🚧NEW CSS */
  display: none;
}

.nav-button {
  position: relative;
  margin-left: 25px;
  height: fit-content;
  display: flex;
  align-items: center;
  color: var(--navbar-light-secondary);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
  padding: 0.65rem 4px; /* 🚧changed to REM */
  margin-top: 0.2rem;
  letter-spacing: 0.05rem;
}
.nav-button span {
  transition: opacity 1s;
}
.nav-button:hover {
  color: white;
}
#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
  height: 30%;
  min-height: 54px;
}
#nav-toggle:not(:checked)
  ~ #nav-footer-toggle:checked
  + #nav-footer
  label[for="nav-footer-toggle"] {
  transform: rotate(180deg);
}


/* LOADING-RELATED CSS */
#loadSCreenCont{
  transition: opacity 0.2s;
}
#loadingBarBlackBG{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: absolute;
  z-index: 999;
}
#loadBars{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 2rem;
}
.loadOuter{
  background-color: rgba(200,200,200,0.9);
  padding: 1px;
  min-width: 30%;
  min-height: 1px;
  position: absolute
}
.loadInner{
  background-color: white;
  width: 1%;
  min-height: 1px;
  position: absolute;
  transition: width 0.2s linear;
}
#hogaLoadLogo{
  left:calc(50% - 75px); 
  position:absolute; 
  width: 150px; 
  opacity: 0.9;
}
.loading-circle{
  left:calc(50% - 175px); 
  position:absolute; 
  width: 350px;
  opacity: 0.9;
}
#popup-important{
  z-index: 99999;
  background-color: rgba(50, 50, 50, 0.8);
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;

}
.popup-special{
  width: 100vw; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#popup-imp-window{
  border-radius: var(--border-radius);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 45rem;
  height: 30rem;
}
#popup-imp-text{
  width: 90%;
  max-height: 75%;
}
.popup-button{
  min-width: 9rem;
  height: 1.8rem;
  background-color: rgba(200,200,200,0.9);
}
.popup-button:hover{
  background-color: rgba(150,150,150,0.9);
}
