body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}









.ik-cloud{
    width: 30%;
    height: 30%;
    opacity: 0.85;
    
}

.ik-fog1{
    width: 30%;
    height: 20%;
    opacity: 0.35;
    transform: translateX(-250%);
    animation: sliderX 1s linear infinite;
    animation-duration: 100s;
}

.ik-fog2{
    width: 40%;
    height: 30%;
    opacity: 0.30;
    transform: translateX(120%);
    animation: sliderXBack 1s linear infinite;
    animation-duration: 70s;
}


/* ANIMS */

@keyframes sliderX {
    from {
      transform: translateX(-250%);
    }
  
    to {
      transform: translateX(120%);
    }
}

@keyframes sliderXBack {
    from {
      transform: translateX(120%);
    }
  
    to {
      transform: translateX(-100%);
    }
}

@keyframes sliderXLong {
    0% {
        transform: translateX(-100%);
    }

    70%{
        transform: translateX(1220%);
    }
  
    100% {
        transform: translateX(1220%);
    }
}