* {
  font-family: "Albert Sans";
}

.widget-w-spotify .container {
  width: 100%;
  max-width: 400px;
  top: 10px;
  left: 10px;
  /* background-color: #191414; */
  border-radius: 5px;
  /* border-color: 1px black; */
  overflow-x: hidden;
  overflow-y: auto;
}
.results-container {
  margin: auto;
  padding: 0 10px 10px 10px;
}

#search-form {
  padding: 10px;
  margin: 0 25%;
  display: inline-flex;
}

#search-form input {
  border-radius: 5px;
  border: none;
  background-color: #dfdfdf;
  margin-right: 5px;
  padding: 5px;
  color: black;
  width: fit-content;
}
.results-container .result-item {
  width: 80%;
  margin: 10px auto;
  padding: 5px 5px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  /*   line-height: 0.2rem; */
  color: black;
}

.result-item p:nth-child(2) {
  font-size: 0.6rem;
}

#search-form button {
  border-radius: 5px;
  border: none;
  background-color: #1db954;
  color: white;
  font-weight: 500;
  height: 50%;
  margin-top: 5px;
}

#widget-container button {
  border-radius: 5px;
  border: none;
  background-color: #1db954;
  color: white;
  font-weight: 500;
  height: 50%;
  margin-top: 5px;
}

.widget-container {
  margin-top: 20px;
  display: none;
}

.result-item p {
  text-align: center;
  margin: 0 !important;
}

.top-text {
  display: none;
  margin: 0 auto;
  color: white;
}

#search-form-reset {
  margin: 5px 0;
  padding: 3px 5px;
}

iframe#spotify-widget {
  overflow: auto;
  /* flex: 0; */
  position: relative;
  max-height: 400px;
  height: 100px;
}
