#themeOptions{
    overflow-y: visible;
    background-color: black;
    right: calc(-1*var(--navbar-width) - 70px);
    bottom: 0;
    position: absolute;
    color: #8392a5;
    transition: transform 0.3s ease; 
    min-height: 40px;
    min-width: 310px;
}
#themeOptions.expand-up {
    transform: translateY(-100%); /* Move container upwards */
}

#themeOptionsCont{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-style: bold;
    font-size: 1.4rem;
    margin: 0;
    border-radius: 3%;
    color: black;
    }

#themeParticles{
    display: flex;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Albert Sans";
}

.themeOptionsBtn{
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 5rem;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    color: #3e4042;
}
.themeOptionsBtn:hover{
    background-color: rgba(150, 150, 150, 0.8);
}
.themeOptionsBtn:active{
    background-color: rgba(130, 130, 130, 1);
    margin: 4px;
    border: black solid 1px;
}


.themeOptionsText{
    font-weight: lighter;
}

.themeOptionsCat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.7rem 0;
}


.togSwitch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    margin-right:0.25rem;
}

.togSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked + .togRound {
background-color: #2196F3;
}

input:focus + .togRound {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .togRound:before {
-webkit-transform: translateX(18px);
-ms-transform: translateX(18px);
transform: translateX(18px);
}

/* Rounded sliders */
.togRound {
border-radius: 34px;
}

.togRound:before {
border-radius: 50%;
left: -1px;
}

.togRound {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.togRound:before {
position: absolute;
content: "";
height: 23px;
width: 23px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
filter: drop-shadow(0 0 1px)
}

.optionCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0;

}

.dropbtn {
    background-color: lightgray;
    filter:drop-shadow(0 0 1px);
    color: black;
    padding: 0.3rem 16px;
    border-radius: 5px;
    size: 0.85rem;
    border: none;
    margin: 0.7rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 7rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    overflow-y: scroll;
    max-height: 10rem;
    flex-direction: column-reverse;
    top: calc(-200% - 2rem);
    color: #8392a5;
  }
  
  .dropdown-content a {
    color: #8392a5;
    padding: 5px 5px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    pointer-events: auto; 
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: flex;  position: absolute; z-index: 9999; }
  
  .dropdown:hover .dropbtn {background-color: rgba(150, 150, 150, 0.8);}



  #BGMBarContainer {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: relative;
  }
  #BGMBar {
    height: 100%;
    background-color: #76c7c0;
    width: 0;
  }