#themeOptions{
    overflow-y: visible;
    background-color: black;
    /* right: calc(-1*var(--navbar-width) - 70px); */
    bottom: 0;
    position: absolute;
    color: #8392a5;
    /* transition: transform 0.3s ease;  */
    min-height: 15rem;
    min-width: var(--navbar-width);
    /* padding: 5px; */
}
#themeOptions.expand-up {
    transform: translateY(-100%); /* Move container upwards */
}

#themeOptionsCont{
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-style: bold;
    font-size: 0.8rem;
    margin: auto;
    color: #8392a5;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    }

#themeParticles{
    display: flex;
    justify-content: left;
    margin-left: 1rem;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Albert Sans";
}



#soundsOptionsAll{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#musicPlayerCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BGMBtn{
    padding: 3px 10px;
    margin: 5px;
}

.themeOptionsBtn{
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 5rem;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    color: #3e4042;
}
.themeOptionsBtn:hover{
    background-color: rgba(150, 150, 150, 0.8);
}
.themeOptionsBtn:active{
    background-color: rgba(130, 130, 130, 1);
    margin: 4px;
    border: black solid 1px;
}


.themeOptionsText{
    font-weight: lighter;
}

.themeOptionsCat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.7rem 0;
}


.togSwitch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin-right:0.35rem;
    margin-left: 0.2rem;
}

.togSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked + .togRound {
background-color: #2196F3;
}

input:focus + .togRound {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .togRound:before {
-webkit-transform: translateX(2rem);
-ms-transform: translateX(2rem);
transform: translateX(2rem);
}

/* Rounded sliders */
.togRound {
border-radius: 34px;
}

.togRound:before {
border-radius: 50%;
left: -1px;
}

.togRound {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;

transition: .4s;
}

.togRound:before {
position: absolute;
content: "";
height: 2rem;
width: 2rem;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
filter: drop-shadow(0 0 1px)
}

.optionCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0;
    text-align: center;
}

.dropbtn {
    background-color:#8392a5;
    filter:drop-shadow(0 0 1px);
    color: black;
    padding: 0.3rem 16px;
    border-radius: 5px;
    size: 0.85rem;
    border: none;
    margin: 0.7rem;
  }

  #musicOptions .dropbtn {
    background-color:#8392a5;
    filter:drop-shadow(0 0 1px);
    color: black;
    padding: 0 20px;
    border-radius: 5px;
    size: 0.85rem;
    border: none;
    margin: 0.7rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    overflow-y: scroll;
    max-height: 20rem;
    flex-direction: column-reverse;
    top: calc(-200% - 1rem);
    left: 2rem;
    border-radius: 5px;
    color: #8392a5;
  }
  
  .dropdown-content a {
    color: #8392a5;
    padding: 5px 5px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    pointer-events: auto; 
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: flex;  position: absolute; z-index: 9999; }
  
  .dropdown:hover .dropbtn {background-color: rgba(150, 150, 150, 0.8);}



  #BGMBarContainer {
    width: 90%;
    height: 8px;
    background-color: #9b9b9b;
    position: relative;
    transform: scaleX(-1); /* Flip the container */
    margin: 0.5rem;
    border-radius: 10px;
  }
  #BGMBar {
    height: 100%;
    background-color: #409bf1;
    width: 0;
    transform-origin: right; /* Set the origin to the right */
  }

  #BGMtitle {
    font-size: 0.8rem !important;
    margin-bottom: 2px;
  }

  #musicPlayerCont p {
    font-size: 0.7rem;
  }

  #themeMusicSFXVolumeBox {
    /* background-color: blue; */
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #themeMusicVolumeBox {
    height: 70px;
    width: 100px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #SFXVolumeBox {
    height: 70px;
    /* background-color: rgb(128, 0, 0); */
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #themeMusicSFXVolumeBoxLabels {
    display: flex;
    justify-content: space-around;
  }

  /* no need to rescale svg container can take care of that. edited out */
  #themeMusicVolumeBox svg {
    /* scale: 75%; */
    /* transform: rotate(-18deg); */
  }
  #SFXVolumeBox svg {
    /* scale: 75%; */
  }
  .volDialerCont{
    width: 2.5rem;
    height: 2.5rem;
  }
  #volKnobTop1 {
    height: 50%;
    width: auto;
    position: relative;
    left: 11.5rem;
    bottom: 1.5rem;
  }
  #volKnobTop2 {
    height: 50%;
    width: auto;
    position: relative;
    left: 11.5rem;
    bottom: 1.5rem;
  }
  .volDialerDec{
    position: relative;
    top: -151%;
    width: 143%;
    height: 110%;
    left: 20%;
  }
  #themeMusicSFXVolumeBox button{
    background-color: transparent;
    border: none;
    outline: none; /* Optional: Remove focus outline */
    color: white;
    font-size: 1.2rem;
    margin: 0, 0.2rem;
  }

  #themeMusicSFXVolumeBox button:hover{
    color: #8392a5;
    font-style: bold;
  }
