* {
  font-family: "Albert Sans";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.weather-container {
  text-align: center;
  max-height: fit-content;
  padding: 0.9375rem 1.25rem !important; 
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: var(--backdrop-blur-rem);
}

.header {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.625rem; 
  text-align: left;
  color: rgb(255, 255, 255);
}

.location {
  font-size: 0.9rem;
  margin-bottom: 0;
  color: rgb(164, 164, 164);
  text-align: left;
  margin-top: -0.625rem; 
  font-weight: 500;
  padding: 0 0.625rem; 
}

.country {
  font-size: 0.8rem;
  color: #666;
  margin-top: -0.625rem; 
  margin-left: 0.625rem; 
  text-transform: uppercase;
}

.weather-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  overflow: auto;
  position: relative;
}

.weather-card {
  padding: 0.625rem; 
  margin: 0.625rem; 
  width: 7.5rem; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(0.625rem);
  border-radius: 0.625rem; 
}

.weather-card:hover {
  background-color: rgb(57, 57, 57);
  color: white;
}

.date {
  font-weight: bold;
  font-size: 0.8rem;
}

.day {
  font-size: 0.7rem;
  color: #666;
}

.weather-card:hover .day {
  color: #e5e5e5;
}

.weather-card:hover .temperature {
  color: #c95714;
  font-weight: 600;
}

.weather-card-container .icon {
  width: 3.125rem; 
}

.temperature {
  font-size: 1rem;
  margin-bottom: 0.3125rem; 
}

.description {
  text-transform: capitalize;
  font-size: 0.7rem;
}

.dropdown-container {
  text-align: right;
  margin-bottom: 0.625rem; 
  font-size: 0.8rem;
}

select {
  padding: 0.1875rem; 
  font-size: 1em;
  border-radius: 0.5rem;
}

.weather-nav {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem; 
  align-items: center;
  padding: 0 0.625rem; 
}
