<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/css/admindashboard.css" />
</head>

<body>
    <nav id="nav-bar">
        <span id="company-name"><img src="../static/images/b-logo.png" style="height: 20px" alt="" /></span>
        <span id="logout">Log Out</span>
        <span id="admin-email">{{info.email}}</span>
    </nav>

    <main>
        <h1>{{info.name}}'s Dashboard</h1>
        <div id="data-container">
            <div class="stats">
                <img src="../static/icons/people.svg" alt="people" class="svg-img" id="first-svg" />
                <p>
                    Total Users: {% for user in total_users_data %}
                    <span> {{user.count}}</span>
                    {% endfor %}
                </p>
                <!-- <p>
            Total Users: 
            <span> 30</span>
            
          </p> -->
            </div>
            <div class="stats">
                <img src="../static/icons/online.svg" alt="online" class="svg-img" id="second-svg" />
                <p>Total Online:
                    {% for online in total_online_data %}
                    {% if online %}
                    <span> {{online.count}}</span>
                    {% else %}
                    <span>0</span>
                    {% endif %}
                    {% endfor %}
                </p>
                <!-- <p>
                    Total Online:

                    <span>100</span>
                </p> -->
            </div>
            <div class="stats">
                <img src="../static/icons/currency.svg" alt="currency" class="svg-img" id="third-svg" />
                <p>Total Revenue: <span> ${{total_revenue}}</span></p>
                <!-- <p>Total Revenue ($): <span>500</span></p> -->
            </div>
            <div class="stats">
                <img src="../static/icons/magnifying-glass.svg" alt="currency" class="svg-img" id="third-svg" />
                <!-- <p>Total Revenue: <span> ${{total_revenue}}</span></p> -->
                <p>Total Views: <span> 500</span></p>
            </div>
        </div>
        <div id="admin-data">
            <canvas id="myChart"></canvas>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User's Last Login Date</th>
                    <th>Account Creation</th>
                </tr>
                {% for user in user_info_data %}
                <tr>
                    <th>{{user.name}}</th>
                    <th>{{user.email}}</th>
                    <th>{{user.latest_login}}</th>
                    <th>{{user.created_at}}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/js/admindashboard.js"></script>
</body>

</html>