<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="stylesheet" href="../static/css/animation.css" />
  <link rel="stylesheet" href="../static/css/DXM-toolBox.css" />
  <link rel="stylesheet" href="../static/css/w-themeOptions.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
  <title>Control Panel</title>
  <style>
    * {
      font-family: "Albert Sans";
    }

    .albert-sans as-thin {
      font-family: "Albert Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
    }

    .albert-sans as-light {
      font-family: "Albert Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }

    .albert-sans as-regular {
      font-family: "Albert Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    }

    .albert-sans as-semibold {
      font-family: "Albert Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }

    .albert-sans as-bold {
      font-family: "Albert Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
    }
  </style>
</head>

<body>
  <div id="dashboard">
    <div id="popup-important">
      <div id="popup-imp-window">
        <div id="popup-imp-text"></div>
        <button id="popup-button1" class="popup-button"></button><button id="popup-button2" class="popup-button"></button>
      </div>
      <div id="popup-special1" class="popup-special" style="display: none"></div>
      <div id="popup-special2" class="popup-special" style="display: none"></div>
    </div>
    <div id="grid-container">
      <div class="bg-effect">
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <!-- <div class="wrap">
            <div class="top-plane"></div>
            <div class="bottom-plane"></div>
          </div> -->
      </div>
    </div>
    <div class="control-panel"></div>
    <div class="sidebar-menu">
      <div id="nav-bar">
        <input id="nav-toggle" type="checkbox" />
        <div id="nav-header">
          <img id="logo" class="logo" src="../static/images/b-logo.png" style="width: 50%" alt="" />

          <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
          <hr />
        </div>
        <div id="nav-content">
          <div class="nav-button">
            <span id="headerSide" style="
                  text-transform: uppercase;
                  letter-spacing: 0.2rem;
                  font-size: 0.8rem;
                ">Themes</span>
          </div>
          <hr />
          <div class="nav-button themeSwitch" data-themename="th-dreamy">
            <span>Dreamy</span>
          </div>
          <div class="nav-button themeSwitch" data-themename="th-retro">
            <span>Retro</span>
          </div>

          <div class="nav-button themeSwitch" data-themename="th-cosy">
            <span>Disco</span>
          </div>
          <div class="nav-button themeSwitch" data-themename="th-minimal">
            <span>Zen</span>
          </div>
          <div class="nav-button themeSwitch" data-themename="th-bold">
            <span>Galactic</span>
          </div>
          <br />
          <div class="nav-button">
            <span id="headerSide" style="
                  text-transform: uppercase;
                  letter-spacing: 0.2rem;
                  font-size: 0.8rem;
                ">CUSTOM</span>
          </div>
          <hr />
          <div class="nav-button">
            <span>Background</span>
          </div>
          <div class="nav-button" style="display: flex" id="dev-pick-button">
            <span>Developer Picks</span><img src="../static/images/silverStar.svg"
              style="margin-left: 0.2rem; width: 1.05rem; height: 1.05rem">
          </div>
          <div class="nav-button" style="display: flex" id="w-themeOptions">
            <span>Theme Options</span><img src="../static/images/purePaint.svg"
              style="margin-left: 0.3rem; width: 0.95rem; height: 0.95rem">
          </div>
          <div id="nav-content-highlight"></div>
          <div id="nav-dev-picks" class="display-toggle">
            <div class="nav-button themeSwitch" data-themename="th-isaac2">
              <span>Vaporwave (Animated)</span>
            </div>
            <div class="nav-button themeSwitch" data-themename="th-isaac1">
              <span>Window (Day/Night System)</span>
            </div>
            <div class="nav-button themeSwitch" data-themename="th-isaac3">
              <span>Cyberpunk (Interactive)</span>
            </div>
            <div id="nav-content-highlight"></div>
          </div>
          <!-- THEME OPTIONS - ORIGINALLY TOGGLED OFF -->
          <div id="themeOptions" style="border-radius: 5%;" class="display-toggle">
            <div id="themeOptionsCont">Theme Options</div>
            <div id="themeParticles">
              <div class="optionCont" style="color:#8392a5;">Focus Mode
                <label class="togSwitch"> 
                    <input type="checkbox" id="focusModeSwitch" class="">
                    <span class="togRound"></span>
                </label>
              </div>
              <div class="dropdown">
                    <button class="dropbtn">Particle Effects</button>
                    <div class="dropdown-content" style="top: -220%;">
                        <a class="selectFXBtn" style="color: red" onclick="(function() { setupFX('cancel'); })()">Remove</a>
                        <a class="selectFXBtn" onclick="(function() { setupFX('rain', 60); })()">Rain</a>
                        <a class="selectFXBtn" onclick="(function() { setupFX('fireflies', 14); })()">Fireflies</a>
                        <a class="selectFXBtn" onclick="(function() { setupFX('snowfall', 40); })()">Snowfall</a>
                        <a class="selectFXBtn" onclick="(function() { setupFX('pixie', 50); })()">Pixie</a>
                        <a class="selectFXBtn" onclick="(function() { setupFX('shootingstar', 20); })()">Shooting Stars</a>
                        <a class="selectFXBtn" onclick="(function() { setupFX('pug', 50); })()">Pug</a>
                        <a class="selectFXBtn" onclick="(function() { setupFX('energy'); })()">Energy</a>
                    </div>
              </div>    
            </div>
            <div id="soundsOptionsAll">
              <div id="SFXoptions"> 
                <div class="dropdown">
                  <button class="dropbtn">Ambient Sounds</button>
                  <div class="dropdown-content">
                      <a class="selectFXBtn" style="color: red" onclick="(playSFX(event))" data-sfx="cancel">Remove</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-sfx="rain">Rain</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-sfx="Coffee-Shop">Coffee Shop</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-sfx="office">Office</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-sfx="fields">Fields</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-sfx="train">Train</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-sfx="forest">Forest</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-sfx="sea">Sea</a>                    
                  </div>
                </div> 
              </div>
              <div id="musicOptions"> 
                <div class="dropdown">
                  <button class="dropbtn">🎵 Music</button>
                  <div class="dropdown-content">
                      <a class="selectFXBtn" style="color: red" onclick="(playSFX(event))" data-music="cancel">Remove</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Alexander Nakarada - Free">Alexander Nakarada - Free</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Alexander Nakarada - Traveler">Alexander Nakarada - Traveler</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Chill Pulse - Light Study">Chill Pulse - Light Study</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Kevin Macleod - Easy Lemon">Kevin Macleod - Easy Lemon</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Kevin MacLeod - Life of Riley">Kevin MacLeod - Life of Riley</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="aKu - The Final Blow">aKu - The Final Blow</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Fortune Cookie - Golden Summer">Fortune Cookie - Golden Summer</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Christian Larssen - Kyoto">Christian Larssen - Kyoto</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Chill Pulse - Light Study">Chill Pulse - Light Study</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="AVBE - Night in Tokyo">AVBE - Night in Tokyo</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Amaksi - Tropical Beach">Amaksi - Tropical Beach</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="Amaksi - Lo-fi">Amaksi - Lo-fi</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="C418 - Aria Math">C418 - Aria Math</a>
                      <a class="selectFXBtn" onclick="playSFX(event)" data-music="C418 - Sweden">C418 - Sweden</a>                    
                  </div>
                </div> 
              </div>
            </div>
            <br>
            <div id="musicPlayerCont">
              <div id="BGMBtnCont">
                <button id="BGMStopBtn" onclick="stopBGM()" class="BGMBtn">&#9724;</button>
                <button id="BGMPauseBtn" onclick="pauseBGM()" class="BGMBtn">&#10073; &#10073;</button>
                <button id="BGMPlayBtn" onclick="playBGM()" class="BGMBtn">&#9658;</button>
              </div>
              <div id="BGMBarContainer"> <div id="BGMBar"></div> </div>
              <div id="BGMtitle" style="font-size: 1rem; display: flex; flex-wrap: wrap;"></div>
              <p>Play Time: <span id="BGMCurrentTime">0:00</span> - <span id="BGMDuration">0:00</span></p>
              <br>
            </div>
            <div id="themeExtraOptions"></div>
          </div>
          <!-- THEME OPTIONS END -->
        </div>
      </div>
    </div>
    <!-- <div id="timer-controls-container">
        <iframe id="task-frame" src="task.html"></iframe>
      </div> -->
    <div class="hidden">
      <div class="notch-container" tabindex="0">
        <div class="notch">
          <div class="content">
            <div class="logo-center">
              <img src="../static/images/logo.jpg" style="width: 25%" alt="" />
            </div>
            <div class="left">
              <img src="../static/images/logo.jpg" style="width: 25%" alt="" />
              <!-- <div class="title"></div> -->
              <div class="text">
                <div class="icon">
                  <div class="tooltip" id="w-layout">
                    <img src="../static/images/w-1.png" id="w-layout" alt="" />
                    <span class="tooltiptext">Layout</span>
                  </div>
                  <div class="tooltip" id="w-spotify" data-type="music-player">
                    <img src="../static/images/w-2.png" id="w-spotify" alt="" />
                    <span class="tooltiptext">Spotify</span>
                  </div>
                  <div class="tooltip" id="w-calendar" data-type="calendar">
                    <img src="../static/images/w-3.png" id="w-calendar" alt="" />
                    <span class="tooltiptext">Calendar</span>
                  </div>
                  <div class="tooltip" id="w-youtube" data-type="youtube-player">
                    <img src="../static/images/w-4.png" id="w-youtube" alt="" />
                    <span class="tooltiptext">YouTube</span>
                  </div>
                  <div class="tooltip" id="w-tasks" data-type="tasks-list">
                    <img src="../static/images/w-5.png" id="w-tasks" alt="" />
                    <span class="tooltiptext">Tasks</span>
                  </div>
                  <div class="tooltip" id="w-weather" data-type="weather">
                    <img src="../static/images/w-6.png" id="w-weather" alt="" />
                    <span class="tooltiptext">Weather</span>
                  </div>
                  <div class="tooltip" id="w-timer" data-type="stopwatch">
                    <img src="../static/images/w-7.png" id="w-timer" alt="" />
                    <span class="tooltiptext">Timer</span>
                  </div>
                  <div class="tooltip" id="w-search" data-type="search">
                    <img src="../static/images/w-10.png" id="w-search" alt="" />
                    <span class="tooltiptext">Search</span>
                  </div>
                  <div class="tooltip" id="w-edit">
                    <img src="../static/images/w-8.png" id="w-edit" alt="Widget 8" />
                    <span class="tooltiptext">Edit</span>
                  </div>
                  <div class="tooltip" id="w-save" style="display: none">
                    <img src="../static/images/w-9.png" id="w-save" alt="Widget 9" />
                    <span class="tooltiptext">Save</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- LIBRARIES -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="../static/js/DXM-toolBox.js"></script>
  <!-- PRIMARY STACK -->
  <script src="../static/js/decoupler.js"></script>
  <script src="../static/js/DOM.js"></script>
  <!-- SCRIPTS -->
  <script src="../static/js/widgets.js"></script>
  <script src="../static/js/size.js"></script>
  <script src="../static/js/th-logic.js"></script>
  <script src="../static/js/w-themeOptions.js"></script>
  <!-- DEPENDENCY STACK -->
  <script src="../static/js/settingsSaveLoad.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const navToggle = document.getElementById("nav-toggle");
      const logo = document.getElementById("logo");
      const navBar = document.getElementById("nav-bar");
      const navCon = document.getElementById("nav-content");

      // Toggle sidebar visibility
      navToggle.addEventListener("change", function () {
        if (navToggle.checked) {
          logo.style.display = "none"; // Hide logo when sidebar is expanded
          navBar.style.height = "80px";
          navBar.style.backgroundColor = "50%";
          navCon.style.display = "none";
        } else {
          logo.style.display = "block"; // Show logo when sidebar is collapsed
          navBar.style.height = "";
          navBar.style.opacity = "";
          navCon.style.display = "";
        }
      });
    });
  </script>
  <!-- <script src="w-timer.js"></script> -->
  <!-- <script src="token.js"></script>
    <script src="spotify.js"></script> -->
</body>

</html>