<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>H1 Element. Cookie is not stored</h1>

    <form action="/registeruser" method="post">
        <fieldset>
            <legend>User Register</legend>
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="name" placeholder="Name">
            <button>Register</button>
        </fieldset>
    </form>

    <form action="/userlogin" method="post" id="userlogin">
        <fieldset>
            <legend>User Login</legend>
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <button>Login</button>
        </fieldset>
    </form>

    <script src="/static/DOM.js"></script>
    <script src="/static/decoupler.js"></script>
    <script src="/static/settingsSaveLoad.js"></script>
    <script src="/static/feat.js"></script>
    <script>
        onStartStrLine();
        
        function onStartStrLine(){
            autoLogin()
            sessRegenTry()
            startUpMark()
            userClockSetup()
        }
        // try {
        //     fetch("/secure_token_req", {
        //         method: "POST",
        //         headers: { "Content-Type": "application/json" }
        //     })
        //         .then(res => {
        //             if (!res.ok) {
        //                 throw new Error(res.statusText)
        //             } else res.json()
        //         })
        //         .then(res => {
        //             const h1Elem = document.querySelector("h1");
        //             h1Elem.innerHTML = res.email
        //         })
        // }
        // catch {
        //     (error) => {
        //         console.log(error)
        //     }
        // } finally {
        //     const h1Elem = document.querySelector("h1");
        //     h1Elem.innerHTML = "Cookie not found"
        // }
        function autoLogin(){
            return fetch("/secure_token_req", {
                method: "POST",
                headers: { "Content-Type": "application/json" }
            })
                .then(res => res.json())
                .then(res => {
                    try {
                    document.querySelector("h1").innerHTML = `${res.email} - Welcome, ${res.name}`
                    console.log(res["message"])
                    user.email = res["email"]
                    user.name = res["name"]
                    delete res["message"]
                    delete res["name"]
                    delete res["email"]
                    dbSettingsBulk = res
                    } catch {(error) => {
                        console.log("autologin failed: ", error);
                        suggestLogin(); //⚠️WIP function does not exist
                    }}
            })
        }

        suggestLogin

    </script>

</body>

</html>
