<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/DXM-toolBox.css">
    <link rel="stylesheet" href="../static/css/th-isaac.css">
</head>
<body>
    <main class="parallaxCont"> 
        <img src="../static/images/themes/DXM/000B.png" class="parallaxBG" id="backdropSky" style="width: 60%; height: 65%; top: 37%; left:40%;">
        <img src="../static/images/themes/DXM/013.webp" class="parallaxElem ik-cloud" data-dynaX="0.025" data-dynaY="0.09" data-dynaZ="0.01" data-dynaDistance="200" style="left:90%; top: 54%">
        <img src="../static/images/themes/DXM/012.webp" class="parallaxElem ik-cloud" data-dynaX="0.025" data-dynaY="0.09" data-dynaZ="0.01" data-dynaDistance="258" style="left: 10%; top: 20%">
        <img src="../static/images/themes/DXM/010.webp" class="parallaxElem ik-fog2" data-dynaX="0.025" data-dynaY="0.09" data-dynaZ="0.01" data-dynaDistance="68" style="top: 40%">
        <img src="../static/images/themes/DXM/009.webp" class="parallaxElem ik-fog1" data-dynaX="0.025" data-dynaY="0.09" data-dynaZ="0.01" data-dynaDistance="68" style="top: 73%">
        
        <img src="../static/images/themes/DXM/000A.png" class="parallaxElem parallaxOverflow" data-dynaX="0.025" data-dynaY="0.09" data-dynaZ="0.01" data-dynaDistance="230" style="left: 45%; width: 100vw; height: 100vh;">
        <img src="../static/images/themes/DXM/tvOntheRadio.png" class="parallaxElem parallaxOverflow" data-dynaX="0.025" data-dynaY="0.09" data-dynaZ="0.01" data-dynaDistance="9999" style="width: 100vw; height: 100vh;">
        <img src="../static/images/themes/DXM/000.webp" class="parallaxElem parallaxOverflow" data-dynaX="0.025" data-dynaY="0.09" data-dynaZ="0.01" data-dynaDistance="230" style="top:140%; left: 105%">
        <img src="../static/images/themes/DXM/smoke0.gif" class="parallaxElem" data-dynaX="0.025" data-dynaY="0.09" data-dynaZ="0.01" data-dynaDistance="230" style="width: 8%; height: 15%; top: 81.2%; left: 66.5%; opacity: 0.3;">
    <main>

    <script src="../static/js/DXM-toolBox.js"></script>
    <script>
        parallaxStartUp({staticTitle:true, distCalc:1.5, rotaCalc:3}, paraStopButton, paraStartButton)
    </script>
</body>
</html>